.doctorList {
  margin-bottom: 55px;


  .cards {
    background: #F3F5F9;
    border-radius: 12px;
    display: flex;
    padding: 12px;
    margin-bottom: 16px;

    @media(max-width: 1200px) {
      width: 340px;
    }
  }

  .gridWrap {

    @media(max-width: 1200px) {
      max-width: 100%;
    }
  }

  .wrap {
    margin-left: 8px;
  }

  .name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .title {
    color: var(--twed-light-dark);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 5px !important;

    span {
      color: #000
    }
  }

  @media(max-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 24px;
    gap: 8px;
  }
}