.feedbackForm {

  padding: 24px 0 95px;

  label {
    margin-bottom: 12px;
    display: inline-block;
  }

  .inputMask {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 12px;
    box-sizing: border-box;

    &:focus-visible {
      border-color: #007aff;
    }
  }

  .btn {
    margin-left: auto;
    display: block;
    cursor: pointer;

    div {

      @media(max-width: 992px) {
        justify-content: center;
      }
    }

    @media(max-width: 992px) {
      margin-left: 20px;
      justify-content: center;
    }
  }

  input {
    padding: 10px
  }

  .gridWrap {

    @media(max-width: 992px) {
      max-width: 100%;
    }
  }

  @media(max-width: 992px) {
    flex-direction: column !important;
    padding-bottom: 60px;
  }
}