.dashboard {

  .wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 0 50px;

    .left {
      width: 18%;
      position: sticky;
      top: 15px;
      max-height: 300px;
      height: 200px;
    }

    .right {
      width: 80%;
    }
  }
}

.dashboardPage {

  .topWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottomWrap {
    margin-top: 20px;
  }
}