.institution {
  margin-bottom: 56px;
  gap: 15px;
  display: flex;
  justify-content: center;

  @media(max-width: 1200px) {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .card {

    div {
      background-color: var(--twed-light-grey);
    }

    @media(max-width: 1200px) {
      max-width: 100%;
    }
  }
}

.wrap {
}